# --- Mosquitto ---
docker/mosquitto/data/
docker/mosquitto/log/

# --- Node-RED ---
docker/nodered/data/*
!docker/nodered/data/flows.json
!docker/nodered/data/package.json
docker/nodered/data/lib/
docker/nodered/data/node_modules/
docker/nodered/data/.*
docker/nodered/data/flows_cred.json

# --- Influxdb ---
docker/secrets/env.influxdb
docker/influxdb/config/*
!docker/influxdb/config/.gitkeep
docker/influxdb/data/*
!docker/influxdb/data/.gitkeep

# --- Docker credentials ---
docker/.env

# --- Firmware (PlatformIO) ---
firmware/.pio/       
firmware/.vscode/*   
!firmware/.vscode/extensions.json
firmware/include/
firmware/lib/
firmware/test/
firmware/src/config/secrets.h

# --- Reserved documentation ---
docs/
simulation/