# --- InfluxDB ---
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=change-me
INFLUXDB_TOKEN=my-$upert0ken.changeme
INFLUXDB_BUCKET_SIM=sim_telemetry
INFLUXDB_BUCKET_HW=hw_telemetry
INFLUXDB_ORG=edge-pipeline

#--- GRAFANA ---
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafanapsw
HOST_IP=192.168.1.1